.app-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
}

.columns {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column > div {
    margin-bottom: 10px;    
    padding: 10px;
}

.item-cinfest {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(0, 0, 0); /* Ajustar el tamaño del borde */
    padding: 10px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-details h4, .item-details p {
    margin: 5px 0;
}

.select-button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}